# <img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> Hey, nice to see you.

Welcome to my page!

I'm Ryan, fullstack developer currently living in **Austin, TX**.

![Visitor Count](https://visitor-badge.laobi.icu/badge?page_id=ryanspoone.ryanspoone)


## Things I code with

![Node.js](https://img.shields.io/badge/-Node.js-43853d?style=flat-square&logo=Node.js&logoColor=white)
![Prettier](https://img.shields.io/badge/-Prettier-black?style=flat-square&logo=prettier&logoColor=white)
![React](https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white)
![Docker](https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white)
![git](https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white)
![npm](https://img.shields.io/badge/-NPM-CB3837?style=flat-square&logo=npm&logoColor=white)
![html5](https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&logo=html5&logoColor=white)

## Open source projects

<table>
  <thead align="center">
    <tr border: none;>
      <td><b>🎁 Projects</b></td>
      <td><b>⭐ Stars</b></td>
      <td><b>📚 Forks</b></td>
      <td><b>🛎 Issues</b></td>
      <td><b>📬 Pull requests</b></td>
    </tr>
  </thead>
  <tbody>
    <tr>
	    <td><a href="https://github.com/ryanspoone/Server-Performance-Evaluation-Tool"><b>Server Performance Evaluation Tool</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/ryanspoone/Server-Performance-Evaluation-Tool?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Forks" src="https://img.shields.io/github/forks/ryanspoone/Server-Performance-Evaluation-Tool?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Issues" src="https://img.shields.io/github/issues/ryanspoone/Server-Performance-Evaluation-Tool?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/ryanspoone/Server-Performance-Evaluation-Tool?style=flat-square&labelColor=343b41"/></td>
    </tr>
	  <tr>
		  <td><a href="https://github.com/ryanspoone/fullstack-template"><b>Fullstack Template</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/ryanspoone/fullstack-template?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Forks" src="https://img.shields.io/github/forks/ryanspoone/fullstack-template?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Issues" src="https://img.shields.io/github/issues/ryanspoone/fullstack-template?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/ryanspoone/fullstack-template?style=flat-square&labelColor=343b41"/></td>
    </tr>
		<tr>
			<td><a href="https://github.com/ryanspoone/nodejs-template"><b>Node.js Template</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/ryanspoone/nodejs-template?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Forks" src="https://img.shields.io/github/forks/ryanspoone/nodejs-template?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Issues" src="https://img.shields.io/github/issues/ryanspoone/nodejs-template?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/ryanspoone/nodejs-template?style=flat-square&labelColor=343b41"/></td>
    </tr>
  </tbody>
</table>

## My latest posts

{{&latestBlogPosts}}

---

## Fun facts
<details>
  <summary>Weather</summary>
  <br />

  Currently, the weather is: <b>{{cityTemperature}}°F, <i>{{cityWeather}}</i></b>


  Today, the sun rises at <b>{{sunRise}}</b> and sets at <b>{{sunSet}}</b>.
</details>
<details>
  <summary>Public Stats</summary>
  <br />
  <table>
    <tbody>
    <tr>
      <td><img src="https://github-readme-stats.vercel.app/api?username=ryanspoone&show_icons=true&line_height=27&theme=monokai&count_private=true" alt="ryanspoone's Github Stats" /></td>
      <td><img src="https://github-readme-stats.vercel.app/api/top-langs/?username=ryanspoone&hide_langs_below=1&theme=monokai&line_height=27&count_private=true" /></td>
    </tr>
    </tbody>
  </table>
</details>

---

<p align="center">
    This <i>README</i> file is generated <b>every 3 hours</b>!
    <br />
    Last refresh: {{refreshDate}}
    <br />
    <a href="https://medium.com/@th.guibert/how-to-create-a-self-updating-readme-md-for-your-github-profile-f8b05744ca91">Create your own here!</a>
</p>
<p align="center">
    <img src="https://github.com/ryanspoone/ryanspoone/workflows/README%20build/badge.svg" />
    <img alt="Stars" src="https://img.shields.io/github/stars/ryanspoone/ryanspoone?style=flat-square&labelColor=343b41"/>
    <img alt="Forks" src="https://img.shields.io/github/forks/ryanspoone/ryanspoone?style=flat-square&labelColor=343b41"/>
</p>

---
<p align="center">
  <i>Take a look at my repositories and let's get in touch!</i>
  <p align="center">
    <a href="https://github.com/ryanspoone"><img src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" alt="Github"/></a>
    <a href="https://twitter.com/ryanspoone"><img src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white" alt="Twitter"/></a>
    <a href="https://www.linkedin.com/in/ryanspoone"><img src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn"/></a>
  </p>
</p>